{% extends "base.html" %} 
{% load static %}
{% block title %} Home Page {% endblock %}
{% block content %}
<main>
    <div id="title" class="mt-[5px] px-8 py-4 text-[1rem]">
        <h1>Games Hub</h1>
    </div>
    <div id="app-drawer">
        {% for game in games %}
        <div class="app {{ game.title }}-class">
            <h3> {{ game.title }} </h3>
            <p>
                {{ game.description }}
            </p>
            <a href="{{ game.link }}" class="underline text-[blue]" >web-link</a>
        </div>
        {% endfor %}
    </div>
</main>
<footer></footer>
{% endblock %}