{% extends "base.html" %} 
{% load static %}
{% load filters %}
{% block title %} Home Page {% endblock %}
{% block header %} 
<header id="title" class="mt-[5px] px-[2rem] py-[1.5rem] text-[1rem]">
    <h1>Games Hub</h1>
</header>
{% endblock %}
{% block main %}
<main class= px-[2rem]>
    <div id="app-drawer">
        {% for game in games %}
        <div id="{{ game.title }}-div" class="app">
            <h3> {{ game.title|rm_whitespace }} </h3>
            <p>
                {{ game.description }}
            </p>
            <a href="{{ game.link }}" class="underline text-[blue]">web-link</a>
        </div>
        {% endfor %}
    </div>
</main>
<footer></footer>
{% endblock %}