{% extends "base.html" %} 
{% load static %}
{% load filters %}
{% block title %} Home Page {% endblock %}
{% block header %} 
<header id="title" class="mt-[5px] px-[2rem] py-[1.5rem] text-[1rem]">
    <h1>Games Hub</h1>
</header>
{% endblock %}
{% block main %}
<main class= px-[2rem]>
    <div id="app-drawer" class="flex gap-[1rem]">
        {% for test in testItems %}
        <div id="{{ test }}-div" class="app border-solid border-2 border-[#b0babf] my-[1rem] p-[0.5rem]">
            <h3> {{ test }} </h3>
            <p>
                {{ test }}
            </p>
            <a href="{{ test }}" class="underline text-[blue]">web-link</a>
        </div>
        {% endfor %}
    </div>
</main>
<footer></footer>
{% endblock %}